.plantlane-product-card {
    display: inline-block;
    width: 220px;
    position: relative;
    margin: 20px;
    background: #fff;
}

.plantlane-badge {
    position: absolute;
    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: red;
    color: #fff;
    padding: 3px 10px;
}

.plantlane-product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 220px;
    background: #f0f0f0;
}

.plantlane-product-tumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.plantlane-product-details {
    padding: 10px;
}

.plantlane-product-catagory {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 5px;
}

.plantlane-product-details h4 {
	font-size: 16px;
}

.plantlane-product-details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
}

.plantlane-product-details h4 a:hover {
    color: #f9a73a;
}

.plantlane-product-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 10px;
    color: #999;
}

.plantlane-product-bottom-details {
    overflow: hidden;
}

.plantlane-product-bottom-details > .plantlane-product-links {
    display: inline-block;
    width: 40%;
}

.plantlane-product-bottom-details > .plantlane-product-price {
	display: inline-block;
    width: 60%;
}

.plantlane-product-price {
    font-size: 18px;
    color: #f9a73a;
    font-weight: 600;
}

.plantlane-product-price small {
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    display: block;
    margin-right: 5px;
}

.plantlane-product-links {
    text-align: right;
}

.plantlane-product-links a,
.plantlane-product-links div {
    display: inline-block;
    margin-left: 10%;
    color: #e1e1e1;
    transition: 0.3s;
    font-size: 22px;
    cursor: pointer;
}

.plantlane-product-links div:hover {
    color: #f9a73a;
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.plantlane-product-card {
        margin: 5px 2px 5px;
        width: 32%;
        min-width: 141px;
        max-width: 220px;
    }
}


@media (max-width: 575.98px) {
	.plantlane-product-card {
		margin: 5px 3px 5px;
        width: 48%;
        min-width: 141px;
        max-width: 220px;
	}

    .plantlane-product-tumb {
        max-height: 220px;
    }

    .plantlane-product-details h4 {
        font-size: 14px;
    }

    .plantlane-product-details p {
        font-size: 12px;
    }

    .plantlane-product-price {
        font-size: 14px;
    }

    .plantlane-product-links div {
        font-size: 16px;
    }
}