.plantlane-auth-left {
	display: inline-block;
	position: absolute;
	width: calc(40% - 2px);
	height: calc(100% - 4px);
	border-top-left-radius: 18px;
	border-bottom-left-radius: 18px;
	background: url('../../assets/login-left.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.plantlane-auth-right {
	display: inline-block;
	width: calc(60% - 2px);
	height: calc(100% - 4px);
	left: 40%;
	border-top-right-radius: 18px;
	border-bottom-right-radius: 18px;
	position: absolute;
	padding: 15px;
	overflow-y: auto;
}

.plantlane-auth-toggle-login-signup {
	font-size: 14px;
	text-align: center;
	padding-top: 20px;
	cursor: pointer;
	color: #f48669;
}

.plantlane-auth-toggle-login-signup:hover {
	text-decoration: underline;
}

@media (max-width: 576px){
	.plantlane-auth-left {
		display: none;
	}

	.plantlane-auth-right {
		display: block;
		width: calc(100% - 4px);
		left: 2px;
		height: 100%;
		border-radius: 0;
	}
}